{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
      <div class="card border-0 shadow text-center rounded-3 my-5 p-5">
         <h3>{{mensaje_bienvenida }}! </h3>
         </div>
      </div>
    </div>
  </div>

{% endblock %}
